*{
    margin: 0px;
    padding: 0px;
}

.model{
    height: 70vh;
    width: 28vw;
    box-shadow: 0 0 10px 2px #ccc;
    position: fixed;
    top: -1000px;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.model h1{
    height: 7vmin;
    font-family: sans-serif;
    color: #173e62;
    align-content: center;
    border-bottom: 1px solid #ccc;
}

.model p{
    font-size: 15px;
    font-family: system-ui;
    color: #66717a;
    line-height: 30px;
    margin: 4px 0 22.5px;
    padding-left: 12px;

}

.model .name .email{
    padding: 5px;
}

form div{
    height: 4vmin;
    width: 45vmin;
    margin: 0 0 17px;
    padding: 7.5px 18px;
}

form input{
    height: 4vmin;
    width: 45vmin;
    margin: 0 0 15px;
    padding: 7.5px 18px;
    border: 0.5px solid #ccc;

}

.message{
    height: 80px;
    width: 45vmin;
    margin: 17px;
    margin-top: 25px;
    padding: 7.5px 18px;
    border: 0.5px solid #ccc;


}

form button{
    height: 60.50px;
    width: 100px;
    transition-duration: 0.6s;
    margin: 0 0 15px;
    margin-left: 16px;
    padding: 7.5px 18px;
    border: none;
    border-radius: 0.2rem;
    background-color: #bda588;
    color: white;

    
}

.model h1 span{
    position: absolute;
    right: 10px;
    cursor: pointer;

}

#show-model{
    margin: 5px;
    height: 45px;
    width: 80px;
    border: none;
    border-radius: 0.2rem;
    background-color: #bda588;
    color: white
}